* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    }

/*NAvegacion*/
.portada {
    width: 100%;
    background: gray;
  
}

.navegacion {
    font-size: 24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.navegacion a:hover{
    text-decoration: underline;

}

ul {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: black;
}

.nav-img{
    width: 120px;
    height: 120px;
    margin-top: 70px;
    margin-left:35px ;
}

.navegacion ul {
    display:flex;
}

.navegacion ul li{
padding:15px;
padding-right: 50px;
}

body {
    font-family: 'Oswald',sans-serif;
    min-height: 100vh;
   }

/*Presentacion reciclaje*/
.presentacion-reciclaje{
    height: 500px;
    background: green;
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.imagen-1{
    width: 50%;
    height: 500px;
    background: gray;
    align-self: center;
    align-items: center;
}

.logo{
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}


.parrafo-1{
    width: 50%;
}

/*Expositores*/
.caba{
    font-size: 40px;
    margin-bottom: 40px;
  
}
.center-align{
    font-size: 40px;
    font-family: 'Oswald',sans-serif;
    margin-bottom: 40px;
}

.subtitulo{
    margin: 0;
    color:black;
    display: inline;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 95px;
}

.sabor{
    color: blue;
    margin: 7px 0;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0.7);
    font-family:  'Oswald',sans-serif;
    margin-top: 0;
}

.linea-division{
    width:80%;
    height: 2px;
    background-color: darkgreen;
}

.carousel{
    width: 100%;
    min-height: 500px;
   
}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    user-select: none;
    color: blue;
}


.carousel .carousel-item img{
    height:450px;
    width: 450px;
    position: absolute;
    z-index: -1;
   
    border-radius: 15px;
}

.carousel .indicators .indicator-item{
    border-radius: 0;
    transform:rotate(45deg);
    margin:0 15px;
    background:green;
}


.carousel .cara{
    width: 550px;
}

.bueno{
    width: 100%;
    height: 550px;
    background: blue;
}

.bueno img{
    width: 600px;
}

/*Empresas*/
.participante{
    padding-top: 50px;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;

}
.participante img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
  
}

.pancho {
    font-size: 40px;
}

/*footer*/
.footer{
   margin-top: 50px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    height: 80px;
    width: 100%;
    color:white;
    background: royalblue;
}